@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

.forgot__pass{
  margin-top: 15px !important;
  color: #AAAAAA;
}
.btn{
  width: 90%;
  padding: 10px 0 !important;
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}