

.forgot__pass{
  margin-top: 15px !important;
  color: #AAAAAA;
}

.btn {
  position: relative !important;
  width: 100% !important;
  margin: 40px 0 !important;
  padding: 20px 0 !important;
  border-radius: 12px !important;
  border: none !important;
}
.btn-secondary {
  background-color: #F5F6F8 !important;
}